//
    Created by aRTie on 29/10/2017.

p(*ngIf="isLoading") I can has loading

table(*ngIf="!isLoading" align="center" class='oneStory')
    tr
        td(width align="center")
            b
                i Consciousness
            br
            b
                i {{player.doc.curHp}} / {{player.doc.hp}}
            br
            br

            pre
                span(*ngIf="!player.doc.wearingCreature")
                    button(md-button md-raised-button class="moveButton",(click)="activateArea('possession')")
                        b
                            i POSSESS
                span(*ngIf="player.doc.wearingCreature")
                    b
                        i next Level: {{((player.doc.wearingCreature.doc.baseLevel) * 1) - player.doc.wearingCreature.doc.curExp}}
                    br
                    b(*ngIf='player.doc.wearingCreature.doc.abilityPoints > 0',style='color:#FFFFFF;') Ability points: {{player.doc.wearingCreature.doc.abilityPoints}}
                    br

                    b
                        i HP: {{player.doc.wearingCreature.doc.curHp}} / {{player.doc.wearingCreature.doc.baseHp}} &nbsp;&nbsp;
                        b(*ngIf='player.doc.wearingCreature.doc.abilityPoints > 0',style='color:#0000FF;cursor: pointer',(click)="addPoints('baseHp')") +
                    br
                    b
                        i Movement Speed: {{player.doc.wearingCreature.doc.movement}}
                    br
                    b
                        i Lvl: {{player.doc.wearingCreature.doc.curLvl}}
                    br
                    b
                        i Str: {{player.doc.wearingCreature.doc.baseStr}} &nbsp;&nbsp;
                        b(*ngIf='player.doc.wearingCreature.doc.abilityPoints > 0',style='color:#0000FF;cursor: pointer',(click)="addPoints('baseStr')") +
                    br
                    b
                        i Agi: {{player.doc.wearingCreature.doc.baseAgi}} &nbsp;&nbsp;
                        b(*ngIf='player.doc.wearingCreature.doc.abilityPoints > 0',style='color:#0000FF;cursor: pointer',(click)="addPoints('baseAgi')") +

                    br
                    b
                        i Dex: {{player.doc.wearingCreature.doc.baseDex}} &nbsp;&nbsp;
                        b(*ngIf='player.doc.wearingCreature.doc.abilityPoints > 0',style='color:#0000FF;cursor: pointer',(click)="addPoints('baseDex')") +
                    br
                    b
                        i Def: {{player.doc.wearingCreature.doc.baseDef}} &nbsp;&nbsp;
                        b(*ngIf='player.doc.wearingCreature.doc.abilityPoints > 0',style='color:#0000FF;cursor: pointer',(click)="addPoints('baseDef')") +
                    br
                    b

                        i Res: {{player.doc.wearingCreature.doc.baseRes}} &nbsp;&nbsp;
                        b(*ngIf='player.doc.wearingCreature.doc.abilityPoints > 0',style='color:#0000FF;cursor: pointer',(click)="addPoints('baseRes')") +
                    br

                    button(md-button md-raised-button class="moveButton",(click)="release()")
                        b
                            i RELEASE
                br
                button(md-button md-raised-button class="moveButton",(click)="initMove(-1,-1)")
                    i(class="material-icons rotate-45-left") keyboard_arrow_up
                button(md-button md-raised-button class="moveButton",(click)="initMove(-1,0)")
                    i(class="material-icons") keyboard_arrow_up
                button(md-button md-raised-button class="moveButton",(click)="initMove(-1,1)")
                    i(class="material-icons rotate-45-right") keyboard_arrow_up
                br
                button(md-button md-raised-button class="moveButton",(click)="initMove(0,-1)")
                    i(class="material-icons") keyboard_arrow_left
                button(md-button md-raised-button class="moveButton",(click)="initMove(0,0)")
                    i(class="material-icons hidden") keyboard_arrow_up
                button(md-button md-raised-button class="moveButton",(click)="initMove(0,1)")
                    i(class="material-icons") keyboard_arrow_right
                br
                button(md-button md-raised-button class="moveButton",(click)="initMove(1,-1)")
                    i(class="material-icons rotate-45-right") keyboard_arrow_down
                button(md-button md-raised-button class="moveButton",(click)="initMove(1,0)")
                    i(class="material-icons") keyboard_arrow_down
                button(md-button md-raised-button class="moveButton",(click)="initMove(1,1)")
                    i(class="material-icons rotate-45-left") keyboard_arrow_down

        td
            md-card(class='oneStory')
                pre(align="center", *ngFor="let oneRow of mapLive; let yAxis = index")
                    span(*ngFor="let oneTile of oneRow; let xAxis = index" class="levelTable")
                        //non-possessed
                        //non-active area
                        b(*ngIf="!tiles[tilesIndex.indexOf(oneTile)].doc.wearingCreature && tiles[tilesIndex.indexOf(oneTile)].doc.color && (actionField.activated === false || (Math.abs(player.y - yAxis) + Math.abs(player.x -xAxis) > player.doc.possDistance))",[style.color]="tiles[tilesIndex.indexOf(oneTile)].doc.color",(click)="checkAction(yAxis,xAxis)") {{tiles[tilesIndex.indexOf(oneTile)].doc.displayAs}}
                        b(*ngIf="!tiles[tilesIndex.indexOf(oneTile)].doc.wearingCreature && !tiles[tilesIndex.indexOf(oneTile)].doc.color && (actionField.activated === false || (Math.abs(player.y - yAxis) + Math.abs(player.x -xAxis) > player.doc.possDistance))",(click)="checkAction(yAxis,xAxis)") {{tiles[tilesIndex.indexOf(oneTile)].doc.displayAs}}
                        //active area
                        b(*ngIf="!tiles[tilesIndex.indexOf(oneTile)].doc.wearingCreature && tiles[tilesIndex.indexOf(oneTile)].doc.color && (actionField.activated === true && (Math.abs(player.y - yAxis) + Math.abs(player.x -xAxis) <= player.doc.possDistance))",[style.color] = "tiles[tilesIndex.indexOf(oneTile)].doc.color",[style.background]="actionField.bgColor",(click)="selectActiveArea('possession',yAxis, xAxis)") {{tiles[tilesIndex.indexOf(oneTile)].doc.displayAs}}
                        b(*ngIf="!tiles[tilesIndex.indexOf(oneTile)].doc.wearingCreature && !tiles[tilesIndex.indexOf(oneTile)].doc.color && (actionField.activated === true && (Math.abs(player.y - yAxis) + Math.abs(player.x -xAxis) <= player.doc.possDistance))",(click)="selectActiveArea('possession',yAxis,xAxis)",[style.background]="actionField.bgColor") {{tiles[tilesIndex.indexOf(oneTile)].doc.displayAs}}

                        //possessed
                        //non-active area
                        b(*ngIf="(tiles[tilesIndex.indexOf(oneTile)].doc.wearingCreature) && tiles[tilesIndex.indexOf(oneTile)].doc.color && (actionField.activated === false || (Math.abs(player.y - yAxis) + Math.abs(player.x -xAxis) > player.doc.possDistance))",[style.color]="tiles[tilesIndex.indexOf(oneTile)].doc.color",(click)="checkAction(yAxis,xAxis)") {{tiles[tilesIndex.indexOf(oneTile)].doc.wearingCreature.doc.displayAs}}
                        b(*ngIf="(tiles[tilesIndex.indexOf(oneTile)].doc.wearingCreature) && !tiles[tilesIndex.indexOf(oneTile)].doc.color && (actionField.activated === false || (Math.abs(player.y - yAxis) + Math.abs(player.x -xAxis) > player.doc.possDistance))",(click)="checkAction(yAxis,xAxis)") {{tiles[tilesIndex.indexOf(oneTile)].doc.wearingCreature.doc.displayAs}}
                        //active area
                        b(*ngIf="(tiles[tilesIndex.indexOf(oneTile)].doc.wearingCreature) && tiles[tilesIndex.indexOf(oneTile)].doc.color && (actionField.activated === true && (Math.abs(player.y - yAxis) + Math.abs(player.x -xAxis) <= player.doc.possDistance))",[style.color] = "tiles[tilesIndex.indexOf(oneTile)].doc.color",[style.background]="actionField.bgColor",(click)="selectActiveArea('possession',yAxis, xAxis)") {{tiles[tilesIndex.indexOf(oneTile)].doc.wearingCreature.doc.displayAs}}
                        b(*ngIf="(tiles[tilesIndex.indexOf(oneTile)].doc.wearingCreature) && !tiles[tilesIndex.indexOf(oneTile)].doc.color && (actionField.activated === true && (Math.abs(player.y - yAxis) + Math.abs(player.x -xAxis) <= player.doc.possDistance))",(click)="selectActiveArea('possession',yAxis,xAxis)",[style.background]="actionField.bgColor") {{tiles[tilesIndex.indexOf(oneTile)].doc.wearingCreature.doc.displayAs}}

        td(width="300px")
            div(align="center",*ngIf="showCreature && viewCurFocus(currShowing)")
                b
                    i {{viewCurFocus(currShowing).doc.name}}
                br
                br
                b
                    i HP: {{viewCurFocus(currShowing).doc.curHp}} / {{viewCurFocus(currShowing).doc.baseHp}}

                br
                b
                    i Movement Speed: {{viewCurFocus(currShowing).doc.movement}}
                br
                b
                    i Lvl: {{viewCurFocus(currShowing).doc.curLvl}}
                br
                b
                    i Str: {{viewCurFocus(currShowing).doc.baseStr}}
                br
                b
                    i Agi: {{viewCurFocus(currShowing).doc.baseAgi}}

                br
                b
                    i Dex: {{viewCurFocus(currShowing).doc.baseDex}}
                br
                b
                    i Def: {{viewCurFocus(currShowing).doc.baseDef}}
                br
                b

                    i Res: {{viewCurFocus(currShowing).doc.baseRes}}
                br
                p
                    b
                        i {{viewCurFocus(currShowing).doc.description}}
                br

            div(align="center",*ngIf="showPlayer")
                p
                    b
                        i {{viewCurFocus(currShowing).doc.description}}
                    br
            div(align="center",*ngIf="showTile")
                p
                    b
                        i {{viewCurFocus(currShowing).doc.description}}
                    br

